*
{
    box-sizing: border-box;
}
.singleUserOutput
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.tableClass
{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 0 0 10px 0 gray;
}

table
{
    width: 60%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
tr:nth-child(2n)
{
    background-color: #dfe6e9;
}
tr
{
    width: 100%;
}
td
{
    width: 50%;
}
.charts
{
    width: 100%;
}
.totalWidth
{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 0 0 10px 0 gray;
}
.verdict
{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.solvedByTag
{
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media screen and (max-width:600px)
{
    .solvedByTag
    {
        width: 100%;
    }
}

.solvedByTag2
{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media screen and (max-width:600px)
{
    .solvedByTag2
    {
        width: 100%;
    }
}
