*
{
    box-sizing: border-box;
}

.standing
{
    width: 100%;
}
.headingClass
{
    width: 70%;
    height: 50px;
    background-color: green;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.organizationStanding
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
}
.countryStanding
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
table
{
    width: 70%;
}
@media screen and (max-width:600px)
{
    .headingClass
    {
        width: 100%;
        height: 30px;
        background-color: green;
    }
    table
    {
        width: 95%;
    }
}
